.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}


.profile_container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profile_grid_image{
    width: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.user_posts_content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
