/* TODO Add site wide styles */
 * {
   font-family: 'Lato', sans-serif;
 }
 a, ul, li {
   text-decoration: none;
   color: #333;
 }
 .main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:10px solid red;
 }

 .main_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:10px solid purple;
    margin-top:50px;
 }
