/* TODO Add site wide styles */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  background: rgba(255, 255, 255, 1);
  /* background: linear-gradient(270deg, rgba(150,0,3,.3) 0%, rgba(190,176,6,.3) 50%, rgba(0,114,199,.3) 100%); */
      -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  background-repeat: no-repeat;
}

a, button {
    cursor: revert;
}

ol, ul, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}

::placeholder {
    all: unset;
}

:where([hidden]) {
    display: none;
}


:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}


:where([draggable="true"]) {
    -webkit-user-drag: element;
}


button {
  background-color: transparent;
  border: none;
}
