.post_form_container {
  background-color: rgba(244, 244, 244, .75);
  border-radius: 1em;
  border: 1 px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 800px;
  margin: 100px auto auto auto;
  border: 1px solid #ff042d;
}

.post_form_header {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #ff042d, #0058db);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.post_form_image{
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form_errors {
  color: red;
  font-size: 1rem;
  text-align: center;
}

.post_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 600px;
}

input {
  width: 90%;
  padding: 5px 5px;
}

.caption_input{
  height: 75px;
  width: 550px;
  text-align: left;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px;
  resize:none;
  overflow:scroll;
  overflow-y:scroll;
  overflow-x:hidden;
  overflow:-mox-scrollbars-vertical;
  word-wrap: break-word;
  margin:auto
}

.caption_input::-webkit-scrollbar{
  display:none;
}
