.post_form_container {
  background-color: rgba(242, 242, 241, 1);
  border-radius: 1em;
  border: 1 px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 800px;
  margin: auto;
}

.post_form_header {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #ff042d, #0058db);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.post_form_image{
  height: 400px;
  width: auto;
}

.form_errors {
  color: red;
  font-size: 1rem;
  text-align: center;
}

.post_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 600px;
}



input {
  width: 90%;
}
