h1.sign_up_header{
  font-family: 'Museo Sans Display', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1rem;
}



.main_auth_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
.auth_container {
  width: 680px;
  margin: auto;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  border-radius: .5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.auth_input {
  width: 480px;
  margin-left: 50px;
  border-bottom: 1px solid #2c2c2c;
  margin: 1rem;
}
.auth_container::-webkit-scrollbar{
  display:none;
}
#login {
  height: 350px;
}


input:focus {
  color: black;
}

button:disabled{
  color: grey;
}

label {
  text-align: center;
}

.auth_btn_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  align-items: center;
}

.sign_up_header, .login_header {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(61, 61, 61);
  text-align: center;
  margin: 10px;
}

.auth_errors {
  color: rgb(177, 0, 0);
  box-sizing: border-box;
  padding: 2px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup_btn{
  border-radius: 1px solid #e20000;
  padding : 6px;
  margin: 0px 10px;
  justify-content: center;
  width: 200px;
}
