button {
  border: none;
  background-color: transparent;
  padding: 0px;
}

.delete_btn{
  background-color: transparent;
  border-radius: 5px;
}

.home_feed_container h2 {
  text-align: center;
  display: flex;
}

.home_feed_header {
  height: 50px;
}
.home_feed_title{
  color: black;
  text-align: center;
}

.home_feed_container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:55px;
}
.post_content {
  justify-content: center;
  width: 800px;
  min-height: 600px;
  max-height: 1080px;
  overflow-y: scroll;
}
.post_content::-webkit-scrollbar{
  display:none;
}

 #post_username{
  font-weight: bold;
  font-size: 1.2em;


}
.post_image{
  padding-top: 10px;
  height: 400px;
  width: auto;
  max-width: 100%;
  position: relative;
  z-index: 1;
  border-radius: .5rem;

}
.individual_post {
  border-radius: .5rem;
  background-color: rgba(252, 252, 251, .8);
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 600px;
  overflow-y: scroll;
  border: 1px solid #222222;
}


.individual_post::-webkit-scrollbar{
  display: none;
}
.post_button_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* padding: 10px; */
  position: relative;
}

.post_caption {
  box-sizing: border-box;
  padding: 0px 10px;
  margin: 10px;
  text-align: left;
  width: 80%;
  /* border: 2px solid blue; */
}
.post_caption span{
  font-weight: bold;
}
.post_category {
  background-color: rgba(6, 6, 6, .3);
  color: white;
  width: 100px;
  text-align: center;
  border-radius: .5em;
  position: absolute;
  z-index: 2;
  top: 20px;
  font-size: .75rem;
}

.likes_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* padding: 10px; */
  padding: 15px 5px;
  position: relative;
  height: 30px;
}

.fa-solid fa-heart {
  color: #e20000;
}

.post_likes p {
  padding-left: 5px;
}

.post_comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* padding: 15px 15px; */
  position: relative;
  height: 30px;
  margin-top: -15px
}
div.home_feed_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  margin: 1em;
}

.post_header {
  height: 40px;
  width: 94%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.post_header_image{
  height: 50px;
  width: 50px;
  border-radius: 50% important;
  margin-bottom: 10px;

}
.header_profile_img, .header_username {
  float: left;
  color: #e20000;
}

.header_profile_img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  border-radius: 40px;
  overflow: hidden;
}
.likes_div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .individual_post {
    height: 350px;
    width: 350px;
    margin-right: 5px;
    border-radius: 30px;
    overflow: hidden;
  }
}
