button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0px 45px;
}
div {
  margin: 1rem;
}
.home_feed_container h2 {
  text-align: center;
  display: flex;

}
.post_content {

  justify-content: center;
  width: 800px;
  min-height: 600px;
  max-height: 1080px;
  margin: auto;
  overflow-y: scroll;
}
.post_content::-webkit-scrollbar{
  display:none;
}

#post_username{
  font-weight: bold;
  text-align: left;
  margin:none;
  position: relative;
  top: 30px;
  left: -240px;
}
.post_image{
  height: 400px;
  width: auto;
  position: relative;
  z-index: 1;

}
.individual_post {
  /* border: 2px solid red; */
  border-radius: .5em;
  background-color: rgba(242, 242, 241, .5);
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.product_button_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* padding: 10px; */
  position: relative;

}

.post_caption {
  box-sizing: border-box;
  padding: 20px 10px;
  margin: 10px;
  text-align: left;
  /* border: 2px solid blue; */
}

.post_category {
  background-color: rgba(6, 6, 6, .3);
  color: white;
  width: 100px;
  text-align: center;
  border-radius: .5em;
  position: absolute;
  z-index: 2;
  top: 3px;
  font-size: .75rem;
}
