.nav_container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_left{
  float: left;

}

.nav_right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

li{
  align-items: center;
  text-align: center;
  justify-content: space-around;
  display: inline-block;
  padding: 0px 10px;;
}
li button {
  background: none;
  border: none;
  color: #ff042d;
  cursor: pointer;
  font-size: 1em;
}
li button:hover, a:hover{
  color: #0058db;
}
a, a:active, a:visited {
  text-decoration: none;
  color: #ff042d;
}

h1 {
  font-family: 'Shizuru', cursive;
}

li.title {
  font-size: 1.55em;
}
