.nav_container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #0058db;
  background-color: rgb(255, 255, 255, .8);
  z-index: 2;
  position: fixed;
  width: 100%;
}

.left_nav{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;

}


p.welcome {
  font-style: italic;
  font-size: 1.2em;
}
.right_nav {
float: right;
display: flex;
justify-content: center;
align-items: space-around;
flex-direction: row;
width: 300px;

}

li{
  align-items: center;
  text-align: center;
  justify-content: space-around;
  display: inline-block;
  padding: 0px 10px;;
}

.nav_btn{
  background: none;
  border: none;
  color: #ff042d;
  cursor: pointer;
  font-size: 1em;
}
.profile_link{
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

p.nav_link_profile{
  padding-left: .3em;
}
li button:hover, a:hover{
  color: #0058db;
}
a, a:active, a:visited {
  text-decoration: none;
  color: #ff042d;
}

h1 {
  font-family: 'Shizuru', cursive;
 margin-top: -10px;
}

li.title {
  font-size: 1.55em;
}

.about_dropdown, .profile_dropdown{
      display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: .5em;
    width: fit-content;
    padding:5px 10px;
    margin-top: 19px;
    background-color: rgba(255,255,255, .8);
    list-style-type: none;
    gap:18px;
    z-index: 2;
    /* box-shadow: 0px 2px 2px 1px rgba(0, 4, 231, 0.116); */
    border: 1px solid #0058db;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.profile_dropdown{
  margin-left: -150px;
  align-items: center;

}

.profile_dropdown_img {
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 1.5px solid #0058db;


}
.about_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px 4px;
  position: relative;
  height: 30px;
  border-bottom: 1px solid #0058db
}

.subtext {
  font-size: .8em;
  color: #0058db;
  padding-left: .5em;
}
.bold_text {
  font-weight: bold;
}
.profile_name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
 #dropdown_username{
   font-family: 'Lato', sans-serif;
   font-size: 1.5em;
 }

#created_by{
  text-align: center;
}
