.nav_container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.left_nav{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}


p.welcome {
  padding: 0px 15px;
}
.right_nav {
float: right;
display: flex;
justify-content: center;
align-items: space-around;
flex-direction: row;
width: 300px;
}

li{
  align-items: center;
  text-align: center;
  justify-content: space-around;
  display: inline-block;
  padding: 0px 10px;;
}
li button {
  background: none;
  border: none;
  color: #ff042d;
  cursor: pointer;
  font-size: 1em;
}
li button:hover, a:hover{
  color: #0058db;
}
a, a:active, a:visited {
  text-decoration: none;
  color: #ff042d;
}

h1 {
  font-family: 'Shizuru', cursive;
}

li.title {
  font-size: 1.55em;
}

.about_dropdown{
      display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 6px;
    width: fit-content;
    padding:20px 10px;
    margin-top: 0px;
    background-color:white;
    list-style-type: none;
    gap:18px;
    z-index: 100;
    box-shadow: 0px 8px 20px rgba(110, 110, 110, 0.25);
}
