/* div.comment_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
} */

div.comment_list_container {
  background-color: rgba(242, 242, 241, .75);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 10px auto;
  max-height: 500px;


}

.comment_list {
  display: flex;
  flex-direction: column;
  max-height: 480px;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 10px;
}

.comment_list::-webkit-scrollbar{
  display:none;
}

.individual_comment_container {
  border: 1px solid #ff042d;
  border-radius: .5em;
 padding: 10px;
  margin: 10px;
  width: 500px;
}

.post_header_profileid{
  height: 75px;
  width: 94%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: -25px;
}

.white_link{
  color: white;
  font-weight: bold;
}

.individual_post_caption_container{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  min-height:50px;
  max-height: 100px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px;
}

.individual_post_caption_container::-webkit-scrollbar{
  display:none;
}
